@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family:'Roboto-Bold';
    src: url(./fonts/Roboto-Bold.ttf)
}
@font-face{
    font-family:'Roboto-Medium';
    src: url(./fonts/Roboto-Medium.ttf)
}
@font-face{
    font-family:'Roboto-Light';
    src: url(./fonts/Roboto-Light.ttf)
}
body,html{
    width: 100%;;
    height: 100%;
}
body{
    overflow: unset !important;
    font-family: 'Open Sans', sans-serif;
}
#root{
    width: 100%;
    height: 100%;
    --success: #28a745;
    --danger: #dc3545;
    --info : #17a2b8;
    --warning: #ffc107;
    --primary: #007bff
}
.main_wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #f3f3f9;
}
.side_bar{
    width: 250px;
    background: #405189;
    height: 100%;
    position: fixed;
    z-index: 999;
}
.sidebar_aside{
    height: 100%;
}
.mainlayout{
    width: calc(100% - 250px);
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.screen__background{
    overflow: hidden;
}
.sidebar_nav li a{
    color: #abb9e8;
    font-size: 14px;
    transition: .5s;
}
.sidebar_nav li a:hover{
    color: #fff;
}
.logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 13px 0px;
}
.sidebar_nav{
    height: calc(100% - 71px);
    transition: .5s;
}
.sidebar_nav:hover{
    overflow: auto;
}
.sub_ul{
    height:0;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    background: rgb(88 107 167 / 50%);
}
.sidebar_nav li:hover  .sub_ul{
    height: 100%;
    visibility: visible;
    opacity: 1;
}
.sidebar_nav li:hover  .fa-angle-right{
    transform: rotate(90deg);
}
.sidebar_nav li:hover .sub_ul .fa-angle-right{
    transform: rotate(0deg);
}
.screen{
    height: auto !important;
    margin: 0 auto;
}
.footer{
    margin-top: auto;
    background: rgba(0,0,0,.7);
    color: #fff;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
}
.content_layout{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f9;
}
#dashboard{
    width: 100%;
}
.social-login{
    position:relative !important;
    width: 100% !important;
}
.login{
    padding-top: 50px !important;
    height: auto;
    padding-bottom: 20px;
    color: #000;
    font-weight: 600;
}
.side_bar,.mainlayout,.header_top{
    transition: .5s;
}
.top_head li a{
    font-size: 13px;
    padding: 0px 8px;
    font-weight: 500;
}
.top_head li a:last-child{
    padding-right: 0;
}
.top_head li a:hover{
    background: transparent;
    color: #405189;
}
.toggle_icon{
    cursor: pointer;
    color: #405189;
    font-size: 22px;
}
.dashboard_main{
    width: 100%;
}
table th{
    white-space: nowrap;
    font-size: 12px;
}
table td{
    font-size: 12px;
    min-width: 100px;
}
table .sl{
    width: 50px;
    min-width: 50px;
}
.btn{
    font-size: 12px !important;
    padding: 5px 7px !important;
    margin-right: 5px;
}
.btn:last-child{
    margin-right: 0px;
}
input,select,textarea{
    font-size: 12px !important;
}
.table>:not(:first-child) {
    border-top: 1px solid currentColor !important;
}
label{
    font-size: 12px;
    font-weight: 600;
}
.breadcrumb a,.breadcrumb li{
    font-size: 12px;
}
.page_header h1{
    margin-bottom: 5px !important;
}
.main_wrapper.isopen .side_bar{
    margin-left: -250px;
}
.main_wrapper.isopen .mainlayout{
    width: 100%;
    margin-left: 0;
}
.main_wrapper.isopen .header_top{
    width: 100%;
}
.user_profile > i{
    width: 30px;
    height: 30px;
    background: #405189;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
}
.user_profile{
    cursor: pointer;
    position: relative;
}
.user_setting{
    position: absolute;   
     min-width: 120px;
    height: auto;
    right: 0;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    background: #fff;
    border-radius: 3px;
    display: none;
}
.user_profile:hover .user_setting{
    display: block;
}
.user_setting li a{
    padding: 5px 10px;
    color: #000;
}
.header_top{
    overflow: unset !important;
    background-color: #fff !important;
    position: fixed;
    width: calc(100% - 250px);
    padding: 10px 10px !important;
    z-index: 9999;
}
.modal_alert{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.inner_alert{
    width: 300px;
    height: auto;
    background: #fff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
}
.modal_body{
    padding: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: 'Roboto-Regular';
    font-size: 15px;
}
.modal_footer{
    padding: 3px 10px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.modal_footer .btn{
    padding: 5px 20px !important;
}
.modal_head{
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #405189;
    color: #fff;
    border-radius: 0.3rem 0.3rem 0 0;
}
.modal_head span{
    font-family: 'Roboto-Regular';
    display: flex;
    align-items: center;
}
.modal_close{
    margin-left: auto;
} 
.modal_close i{
    font-size: 20px;
    cursor: pointer;
}

.popuptext {
    position: fixed;
    min-width:300px;
    bottom: 10px;
    right: 10px;
    background: #2d1152;
    color: #fff;
   	transform: translateX(100%);
    opacity:0;
    visibility:hidden;
    transition:.5s;
    border-radius: 5px;
}
.popuptext.show {
    transform: translateX(0%);
    opacity:1;
    visibility:visible;
}
.popuptext span{
    display: block;
    padding: 16px 20px;
    border-radius: 5px;
}
.popuptext span.success{
    background-color: var(--success);
}
.popuptext span.error{
    background-color: var(--danger);
}
.popuptext span.info{
    background-color: var(--info);
}
.popuptext span.warning{
    background-color: var(--warning);
    color: #000;
}
.popuptext span.primary{
    background-color: var(--primary);
}
.custom_height{
    max-height: 200px;
}
.form_accordian{
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px
}
.accordian_header h3{
    font-size: 20px;
    font-family:'Roboto-Bold';
}
.accordian_header{
    cursor: pointer;
}












@media (max-width: 992px) {
    .side_bar{
        margin-left: -250px;
    }
    .header_top{
        width: 100%;
    }
    .mainlayout{
        width: 100%;
        margin-left: 0;
    }
    .main_wrapper.isopen .side_bar{
        margin-left: 0;
    }
    .main_wrapper.isopen .header_top{
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}
@media (max-width: 576px) {
    .screen{
        width: 100% !important;
    }
    .login{
        width: 100% !important;
    }
}
